@media screen and (max-width: 1270px) and (min-width: 768px) {
    .content {
        height: 27.375em;
        & .wrapper {
            justify-content: space-around;
        }
        &__card {
            &-doctor {
                background: url('../assets/images/dog_consultation.jpg') no-repeat top left;
                background-size: 445px 473px;
                &__question {
                    width: 12.125em;
                    font-size: 19px;
                    line-height: 30px;
                    padding-top: 201px;
                }
                &__arrow {
                    width: 12.375em;
                    height: 1.0625em;
                }
            }
            &-info {
                right: 0;
                align-items: center;
                padding: 32px 0 40px 0;
                &_title {
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    width: 240px;
                    margin: 0 0 -23px 0;
                }
                &_price {
                    width: 240px;
                    text-align: center;
                    font-size: 22px;
                    line-height: 27px;
                    margin-bottom: -17px;
                    & span {
                        font-size: 26px;
                        line-height: 32px;
                    }
                }
                &_button {
                    width: 220px;
                    height: 48px;
                    font-size: 14px;
                    line-height: 17px;
                }
                &_list {
                    height: 149px;
                    width: 240px;
                    &__item {
                        height: 51px;
                        margin-bottom: 16px;
                        &-icon {
                            height: 2em;
                            width: 2em;
                            margin-right: 8px;
                        }
                        &-text {
                            font-size: 14px;
                            line-height: 17px;
                            br {
                                display: block;
                            }
                        }
                    }
                }
            }
            &-blog {
                background: url('../assets/images/sleppy_cat-mobile.jpg') no-repeat center center;
                border-radius: 24px;
                &_information {
                    padding: 0px 20px;
                    border-radius: 0 0 24px 24px;
                    height: 163px;
                    background: none;
                    &__headline {
                        font-size: 20px;
                        line-height: 24px;
                        margin: 0 0 10px 0;
                    }
                    &__details {
                        font-size: 14px;
                        line-height: 17px;
                        margin: 0;
                    }
                }
                &_footer {
                    width: 100%;
                    height: 2.5em;
                    border-radius: 0 0 24px 24px;
                    padding-left: 20px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}