.content {
    height: 39.375em;
    padding: 4.375em 0 4.5em 0;
    & .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__card {
        position: relative;
        cursor: pointer;
        &-doctor {
            transition: right 1s ease;
            position: absolute;
            right: 0;
            z-index: 7;
            border-radius: 40px;
            height: 100%;
            width: 100%;
            background: url('../assets/images/dog_consultation.jpg') no-repeat center center;
            display: flex;
            color: $main-color_white;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 0 2.5em;
            &__question {
                font-family: "Montserrat-SemiBold";
                width: 12.125em;
                font-size: 32px;
                line-height: 39px;
                margin: 0 0 27px 0;
                padding-top: 291px;
            }
            &__arrow {
                width: 14.375em;
                height: 1.0625em;
            }
        }
        &-info {
            width: 100%;
            height: 100%;
            right: -100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $main-color_white;
            padding: 49px 40px;
            &_title {
                font-family: "Montserrat-SemiBold";
                font-size: 32px;
                line-height: 39px;
                width: 383px;
                color: $main-color_blue;
                margin: 0 0 -30px 0;
            }
            &_price {
                font-family: "Montserrat-SemiBold";
                font-size: 32px;
                line-height: 39px;
                color: $button-color_aqua;
                margin: 0 0 -31px 0;
                & span {
                    font-size: 40px;
                    line-height: 49px;
                }
            }
            &_button {
                cursor: pointer;
                width: 344px;
                height: 60px;
                background: $main-color_blue;
                color: $main-color_white;
                font-family: "Montserrat-Medium";
                font-size: 22px;
                line-height: 27px;
                border-radius: 40px;
                border: none;
                outline: none;
                &:hover {
                    background: $button-color_violet;
                }
            }
            &_list {
                height: 242px;
                width: 512px;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                padding: 0;
                &__item {
                    display: flex;
                    align-items: center;
                    height: 81px;
                    margin-bottom: 24px;
                    &-icon {
                        height: 56px;
                        width: 56px;
                        margin-right: 20px;
                    }
                    &-text {
                        width: 85%;
                        font-family: "Montserrat-Regular";
                        font-size: 22px;
                        line-height: 27px;
                        color: $main-color_black;
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
        &-blog {
            background: url('../assets/images/sleepy_cat.jpg') no-repeat center center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            color: $main-color_white;
            &_information {
                padding: 0 2.5em;
                border-radius: 0 0 40px 40px;
                height: 15.625em;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $main-color_black 100%);
                &__headline {
                    font-family: "Montserrat-SemiBold";
                    font-size: 32px;
                    line-height: 39px;
                    margin: 0 0 17px 0;
                }
                &__details {
                    font-family: "Montserrat-Regular";
                    font-size: 24px;
                    line-height: 29px;
                    margin: 0;
                }
            }
            &_footer {
                position: absolute;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                height: 3em;
                background-color: $main-color_black;
                border-radius: 0 0 40px 40px;
                padding-left: 1.75em;
                font-family: "Montserrat-SemiBold";
                font-size: 24px;
                line-height: 29px;
                & a {
                    color: $main-color_white;
                    text-decoration: none;
                    &:hover {
                        color: $main-color_light-aqua;
                    }
                }
            }
        }
    }
}