.content {
    height: 39.375em;
    padding: 4.375em 0 4.5em 0;
    & .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__card {
        &-doctor {
            background: url('/assets/images/dog_consultation.jpg') no-repeat center center;
            display: flex;
            color: $main-color_white;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            padding: 0 2.5em;
            &__question {
                font-family: "Montserrat-SemiBold";
                width: 12.125em;
                font-size: 32px;
                line-height: 39px;
                margin: 0 0 27px 0;
                padding-top: 291px;
            }
            &__arrow {
                width: 14.375em;
                height: 1.0625em;
            }
        }
        &-blog {
            background: url('/assets/images/sleepy_cat.jpg') no-repeat center center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            color: $main-color_white;
            &_information {
                padding: 0 2.5em;
                border-radius: 0 0 40px 40px;
                height: 15.625em;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $main-color_black 100%);
                &__headline {
                    font-family: "Montserrat-SemiBold";
                    font-size: 32px;
                    line-height: 39px;
                    margin: 0 0 17px 0;
                }
                &__details {
                    font-family: "Montserrat-Regular";
                    font-size: 24px;
                    line-height: 29px;
                    margin: 0;
                }
            }
            &_footer {
                position: absolute;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                height: 3em;
                background-color: $main-color_black;
                border-radius: 0 0 40px 40px;
                padding-left: 1.75em;
                font-family: "Montserrat-SemiBold";
                font-size: 24px;
                line-height: 29px;
            }
        }
    }
}