@media screen and (max-width: 1216px) and (min-width: 768px) {
    .header {
        &_content {
            &__logo {
                width: 10em;
                &_icon {
                    width: 3em;
                    height: 3em;
                }
                &_name {
                    font-family: "Montserrat-SemiBold";
                    font-size: 25px;
                    line-height: 2.125em;
                }
            }
            &__menu {
                width: 24.75em;
                margin-left: 0;
                &_item {
                    font-size: 1.125em;
                }
            }
            &__social-nets {
                width: 9em;
                &_instagram,
                &_vk,
                &_telegram {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}