@media screen and (max-width: 767px) and (min-width: 320px) {
    .header {
        height: 4.4375em;
        &_content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2em;
            height: 2.4375em;
            &__burger {
                transition: fill 0.2s linear;
                cursor: pointer;
                display: block;
                fill: $button-color_violet;
                width: 2em;
                height: 1.375em;
                &:hover {
                    fill: $button-color_aqua;
                }
            }
            &__menu {
                display: none;
            }
            &__social-nets {
                display: none;
            }
        }
    }
}