// основные цвета
$main-color_white: #FFFF;
$main-color_black: #333333;
$main-color_blue: #394573;
$main-color_light-aqua: #BEE7E8;
$button-color_aqua: #A0D2DB;
$button-color_violet: #726DA8;
$shadow: rgba(0, 0, 0, 0.3);
// шрифты
@font-face {
    font-family: "Montserrat-Medium";
    src: url('/assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

.wrapper {
    position: relative;
    width: 76em;
    margin: 0 auto;
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
    .wrapper {
        width: 48em;
    }
}

.disabled_switch {
    fill: $button-color_aqua;
}

.active_switch {
    fill: $button-color_violet;
}

.card {
    transition: transform 0.6s ease;
    width: 37em;
    height: 39.375em;
    box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.25);
    border-radius: 2.5em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
        transform: scale(1.01);
    }
}

.second_slide {
    transition: all 1s linear;
    margin-top: 103px;
    position: absolute;
    right: -720px;
    z-index: 6;
    &_information {
        width: 606px;
        height: 355px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_title {
            width: 606px;
            font-family: "Montserrat-SemiBold";
            font-size: 50px;
            line-height: 61px;
            color: $main-color_blue;
            margin: 0;
        }
        &_description {
            font-family: "Montserrat-Medium";
            font-size: 30px;
            line-height: 37px;
            color: $main-color_blue;
            margin: 0;
        }
        &_price {
            font-family: "Montserrat-SemiBold";
            font-size: 36px;
            line-height: 44px;
            color: $main-color_blue;
            & span {
                font-size: 42px;
                line-height: 51px;
            }
        }
        &_button {
            cursor: pointer;
            width: 300px;
            height: 60px;
            color: $main-color_white;
            background: $main-color_blue;
            border-radius: 40px;
            font-family: "Montserrat-Medium";
            font-size: 22px;
            line-height: 27px;
            border: none;
            outline: none;
            &:hover {
                background: $button-color_violet;
            }
        }
    }
}