// основные цвета
$main-color_white: #FFFF;
$main-color_black: #333333;
$main-color_blue: #394573;
$main-color_light-aqua: #BEE7E8;
$button-color_aqua: #A0D2DB;
$button-color_violet: #726DA8;
$shadow: rgba(0, 0, 0, 0.3);
// шрифты
@font-face {
    font-family: "Montserrat-Medium";
    src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

.wrapper {
    position: relative;
    width: 76em;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.disabled_switch {
    fill: $button-color_aqua;
    &-mobile {
        background: $main-color_blue;
    }
}

.active_switch {
    fill: $button-color_violet;
    &-mobile {
        background: $main-color_light-aqua;
    }
}

.burger-menu {
    display: none;
}

.card {
    box-sizing: border-box;
    transition: transform 0.6s ease;
    width: 37em;
    height: 39.375em;
    box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.25);
    border-radius: 2.5em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
        transform: scale(1.01);
    }
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
    .wrapper {
        width: 48em;
    }
    .card {
        width: 360px;
        height: 438px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .wrapper {
        width: 17.5em;
    }
    .card {
        width: 280px;
        height: 405px;
    }
    .burger-menu {
        transition: all 1s linear;
        z-index: 15;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 100%;
        width: 100%;
        height: 100vh;
        background-color: $main-color_blue;
        &_cross-icon {
            cursor: pointer;
            fill: $main-color_light-aqua;
            position: absolute;
            width: 24px;
            height: 24px;
            left: 82.5%;
            top: 5.28%;
            &:hover {
                fill: $main-color_white;
            }
        }
        &_list {
            padding: 0;
            margin: 0;
            width: 124px;
            height: 241px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            &_item a {
                font-family: "Montserrat-Regular";
                font-size: 24px;
                line-height: 29px;
                color: $main-color_light-aqua;
                &:hover {
                    color: $main-color_white;
                    text-decoration: underline;
                }
            }
        }
    }
}