.slider {
    height: 37.5em;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.3s linear;
    &_items {
        padding-top: 2em;
        position: relative;
        overflow: hidden;
        & .wrapper {
            position: relative;
        }
        &_circle {
            transition: opacity 1s linear;
            z-index: 1;
            position: absolute;
            width: 137.5em;
            height: 58.25em;
            left: -21.4375em;
            top: -20.75em;
            background: $main-color_blue;
            opacity: 1;
            border-radius: 50%;
            &-dog {
                transition: opacity 1s linear;
                z-index: 1;
                position: absolute;
                width: 137.5em;
                height: 58.25em;
                left: -21.4375em;
                top: -20.75em;
                background: url('/assets/images/dog_slider.jpg') no-repeat 122% 32%;
                opacity: 0;
                border-radius: 50%;
            }
        }
        &_switches {
            position: absolute;
            z-index: 7;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &__left-arrow,
            &__right-arrow {
                cursor: pointer;
                transition: all 0.2s ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.125em;
                height: 3.125em;
                border-radius: 50%;
                border: none;
                outline: none;
                background-color: $main-color_white;
                filter: drop-shadow(0em 0em 10em $shadow);
                &:hover {
                    transform: scale(1.1);
                }
                &_icon {
                    width: 0.8125em;
                    height: 1.4375em;
                    &:hover {
                        fill: $button-color_aqua;
                    }
                }
            }
            &__left-arrow {
                &_icon {
                    transform: rotate(180deg);
                }
            }
        }
        &_content {
            &-first-slide {
                z-index: 5;
                transition: all 1s linear;
                position: absolute;
                display: flex;
                align-items: center;
                right: 82px;
                &__image {
                    box-sizing: border-box;
                    &-cat {
                        padding-top: 1.75em;
                        width: 25em;
                        height: 30.92em;
                    }
                }
                &__information {
                    transition: all 0.3s ease-in;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 21.8125em;
                    width: 37em;
                    margin-right: 8.875em;
                    margin-top: -2em;
                    &_title {
                        font-family: "Montserrat-SemiBold";
                        font-size: 3.125em;
                        line-height: 61px;
                        width: 83%;
                        color: $main-color_light-aqua;
                        margin: 0;
                    }
                    &_description {
                        font-family: "Montserrat-Medium";
                        font-size: 1.875em;
                        line-height: 37px;
                        color: $button-color_aqua;
                        margin: -0.4em 0 0 0;
                        &_mobile {
                            display: none;
                        }
                    }
                    &_button {
                        transition: all 0.2s ease-in;
                        cursor: pointer;
                        box-sizing: border-box;
                        width: 300px;
                        height: 60px;
                        background-image: linear-gradient(90deg, $button-color_aqua 0%, $button-color_violet 100%);
                        border-radius: 2.5em;
                        border: none;
                        outline: none;
                        font-family: "Montserrat-Medium";
                        font-size: 1.375em;
                        line-height: 27px;
                        color: $main-color_white;
                        &:hover {
                            background: linear-gradient(-90deg, $button-color_aqua 0%, $button-color_violet 100%);
                            transform: scale(1.05);
                        }
                    }
                }
            }
            &-second-slide {
                transition: all 1s linear;
                margin-top: 103px;
                position: absolute;
                right: -720px;
                z-index: 6;
                &_information {
                    width: 606px;
                    height: 355px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &_title {
                        width: 606px;
                        font-family: "Montserrat-SemiBold";
                        font-size: 50px;
                        line-height: 61px;
                        color: $main-color_blue;
                        margin: 0;
                    }
                    &_description {
                        font-family: "Montserrat-Medium";
                        font-size: 30px;
                        line-height: 37px;
                        color: $main-color_blue;
                        margin: 0;
                    }
                    &_price {
                        font-family: "Montserrat-SemiBold";
                        font-size: 36px;
                        line-height: 44px;
                        color: $main-color_blue;
                        & span {
                            font-size: 42px;
                            line-height: 51px;
                        }
                    }
                    &_button {
                        cursor: pointer;
                        width: 300px;
                        height: 60px;
                        color: $main-color_white;
                        background: $main-color_blue;
                        border-radius: 40px;
                        font-family: "Montserrat-Medium";
                        font-size: 22px;
                        line-height: 27px;
                        border: none;
                        outline: none;
                        &:hover {
                            background: $button-color_violet;
                        }
                    }
                }
            }
        }
    }
}