@media screen and (max-width: 767px) and (min-width: 320px) {
    .slider {
        height: 464px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &_switches-mobile {
            display: flex;
            margin-top: 16px;
            justify-content: space-between;
            width: 2.5em;
            &_right,
            &_left {
                transition: background 0.2s linear;
                cursor: pointer;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: none;
                outline: none;
                &:hover {
                    background: $main-color_blue;
                }
            }
        }
        &_items {
            padding-top: 2em;
            width: 280px;
            height: 25em;
            position: relative;
            overflow: hidden;
            & .wrapper {
                position: relative;
            }
            &_circle {
                display: none;
                &-dog {
                    display: none;
                }
            }
            &_switches {
                display: none;
            }
            &_content {
                &-first-slide {
                    overflow: hidden;
                    width: 100%;
                    height: 25em;
                    flex-direction: column;
                    right: 0;
                    background-color: $main-color_blue;
                    border-radius: 24px;
                    padding-top: 2em;
                    box-sizing: border-box;
                    &__image {
                        box-sizing: border-box;
                        position: relative;
                        &-cat {
                            position: absolute;
                            width: 150px;
                            height: 185.5px;
                            left: 25px;
                            top: -29px;
                        }
                    }
                    &__information {
                        height: 186px;
                        width: 240px;
                        margin-right: 0;
                        margin-top: 0;
                        &_title {
                            font-size: 24px;
                            line-height: 29px;
                            width: 253px;
                        }
                        &_description {
                            display: none;
                            &_mobile {
                                display: block;
                                font-family: "Montserrat-Medium";
                                font-size: 14px;
                                line-height: 17px;
                                margin: -0.4em 0 0 0;
                                color: $button-color_aqua;
                            }
                        }
                        &_button {
                            width: 160px;
                            height: 40px;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
                &-second-slide {
                    overflow: hidden;
                    width: 100%;
                    height: 25em;
                    flex-direction: column;
                    right: -284px;
                    position: absolute;
                    background: url('../assets/images/dog-mobile_slider.jpg') no-repeat 0% 32%;
                    border-radius: 24px;
                    padding-top: 0;
                    margin: 0;
                    box-sizing: border-box;
                    &_information {
                        width: 201px;
                        height: 336px;
                        padding: 32px 0 0 18px;
                        &_title {
                            width: 240px;
                            font-size: 24px;
                            line-height: 29px;
                        }
                        &_description {
                            font-size: 14px;
                            line-height: 17px;
                        }
                        &_price {
                            font-size: 18px;
                            line-height: 22px;
                            margin-bottom: 95px;
                            & span {
                                font-size: 22px;
                                line-height: 27px;
                            }
                        }
                        &_button {
                            width: 160px;
                            height: 40px;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}