@font-face {
  font-family: "Montserrat-Medium";
  src: url("/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf");
}

.wrapper {
  position: relative;
  width: 76em;
  margin: 0 auto;
}

.disabled_switch {
  fill: #A0D2DB;
}

.card {
  width: 37em;
  height: 39.375em;
  -webkit-box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.25);
          box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.25);
  border-radius: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second_slide {
  margin-top: 103px;
}

.second_slide_information {
  width: 606px;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second_slide_information_title {
  width: 606px;
  font-family: "Montserrat-SemiBold";
  font-size: 50px;
  line-height: 61px;
  color: #394573;
  margin: 0;
}

.second_slide_information_description {
  font-family: "Montserrat-Medium";
  font-size: 30px;
  line-height: 37px;
  color: #394573;
  margin: 0;
}

.second_slide_information_price {
  font-family: "Montserrat-SemiBold";
  font-size: 36px;
  line-height: 44px;
  color: #394573;
}

.second_slide_information_price span {
  font-size: 42px;
  line-height: 51px;
}

.second_slide_information_button {
  cursor: pointer;
  width: 300px;
  height: 60px;
  color: #FFFF;
  background: #394573;
  border-radius: 40px;
  font-family: "Montserrat-Medium";
  font-size: 22px;
  line-height: 27px;
  border: none;
  outline: none;
}

.second_slide_information_button:hover {
  background: #726DA8;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFF;
  width: 100%;
  height: 9em;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.125em;
}

.header_content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12.5em;
}

.header_content__logo_icon {
  width: 4em;
  height: 4em;
  fill: #726DA8;
}

.header_content__logo_icon:hover {
  fill: #A0D2DB;
}

.header_content__logo_name {
  font-family: "Montserrat-SemiBold";
  font-size: 1.75em;
  line-height: 2.125em;
}

.header_content__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36.75em;
  list-style-type: none;
  padding: 0;
  margin-left: -0.5em;
}

.header_content__menu_item {
  font-family: "Montserrat-Medium";
  font-size: 1.4375em;
  line-height: 1.75em;
}

.header_content__menu_item:hover {
  cursor: pointer;
  color: #726DA8;
  text-decoration: underline;
}

.header_content__social-nets {
  width: 11em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content__social-nets_instagram, .header_content__social-nets_vk, .header_content__social-nets_telegram {
  width: 2.5em;
  height: 2.5em;
  fill: #726DA8;
}

.header_content__social-nets_instagram:hover, .header_content__social-nets_vk:hover, .header_content__social-nets_telegram:hover {
  fill: #A0D2DB;
}

.slider {
  height: 37.5em;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider_item {
  padding-top: 2em;
  position: relative;
}

.slider_item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_item_circle {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  z-index: 1;
  position: absolute;
  width: 137.5em;
  height: 58.25em;
  left: -21.4375em;
  top: -20.75em;
  background: #394573;
  opacity: 1;
  border-radius: 50%;
}

.slider_item_circle-dog {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  z-index: 1;
  position: absolute;
  width: 137.5em;
  height: 58.25em;
  left: -21.4375em;
  top: -20.75em;
  background: url("/assets/images/dog_slider.jpg") no-repeat 122% 32%;
  opacity: 0;
  border-radius: 50%;
}

.slider_item_switches {
  position: absolute;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.slider_item_switches__left-arrow, .slider_item_switches__right-arrow {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #FFFF;
  -webkit-filter: drop-shadow(0em 0em 10em rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0em 0em 10em rgba(0, 0, 0, 0.3));
}

.slider_item_switches__left-arrow:hover, .slider_item_switches__right-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider_item_switches__left-arrow_icon, .slider_item_switches__right-arrow_icon {
  width: 0.8125em;
  height: 1.4375em;
}

.slider_item_switches__left-arrow_icon:hover, .slider_item_switches__right-arrow_icon:hover {
  fill: #A0D2DB;
}

.slider_item_switches__left-arrow_icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider_item_switches__right-arrow_icon {
  fill: #726DA8;
}

.slider_item_content {
  z-index: 5;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_item_content__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider_item_content__image-cat {
  padding-top: 1.75em;
  width: 25em;
  height: 30.92em;
}

.slider_item_content__information {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21.8125em;
  width: 37em;
  margin-right: 8.875em;
  margin-top: -2em;
}

.slider_item_content__information_title {
  font-family: "Montserrat-SemiBold";
  font-size: 3.125em;
  line-height: 61px;
  width: 83%;
  color: #BEE7E8;
  margin: 0;
}

.slider_item_content__information_description {
  font-family: "Montserrat-Medium";
  font-size: 1.875em;
  line-height: 37px;
  color: #A0D2DB;
  margin: -0.4em 0 0 0;
}

.slider_item_content__information_button {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#A0D2DB), to(#726DA8));
  background-image: linear-gradient(90deg, #A0D2DB 0%, #726DA8 100%);
  border-radius: 2.5em;
  border: none;
  outline: none;
  font-family: "Montserrat-Medium";
  font-size: 1.375em;
  line-height: 27px;
  color: #FFFF;
}

.slider_item_content__information_button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#A0D2DB), to(#726DA8));
  background: linear-gradient(-90deg, #A0D2DB 0%, #726DA8 100%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content {
  height: 39.375em;
  padding: 4.375em 0 4.5em 0;
}

.content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__card-doctor {
  background: url("/assets/images/dog_consultation.jpg") no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2.5em;
}

.content__card-doctor__question {
  font-family: "Montserrat-SemiBold";
  width: 12.125em;
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 27px 0;
  padding-top: 291px;
}

.content__card-doctor__arrow {
  width: 14.375em;
  height: 1.0625em;
}

.content__card-blog {
  background: url("/assets/images/sleepy_cat.jpg") no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  color: #FFFF;
}

.content__card-blog_information {
  padding: 0 2.5em;
  border-radius: 0 0 40px 40px;
  height: 15.625em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#333333));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #333333 100%);
}

.content__card-blog_information__headline {
  font-family: "Montserrat-SemiBold";
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 17px 0;
}

.content__card-blog_information__details {
  font-family: "Montserrat-Regular";
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.content__card-blog_footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3em;
  background-color: #333333;
  border-radius: 0 0 40px 40px;
  padding-left: 1.75em;
  font-family: "Montserrat-SemiBold";
  font-size: 24px;
  line-height: 29px;
}

.footer {
  width: 100%;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_content__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4.125em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -1.4375em;
}

.footer_content__contacts_link {
  text-decoration: none;
  color: #726DA8;
  font-family: "Montserrat-Medium";
  font-size: 24px;
  line-height: 29px;
}

.footer_content__contacts_link:hover {
  color: #A0D2DB;
}

.footer_content__copy-rights {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  line-height: 24px;
  color: #394573;
}
/*# sourceMappingURL=style.css.map */