@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

.wrapper {
  position: relative;
  width: 76em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.disabled_switch {
  fill: #A0D2DB;
}

.disabled_switch-mobile {
  background: #394573;
}

.active_switch {
  fill: #726DA8;
}

.active_switch-mobile {
  background: #BEE7E8;
}

.burger-menu {
  display: none;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  width: 37em;
  height: 39.375em;
  -webkit-box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.25);
          box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.25);
  border-radius: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
  .wrapper {
    width: 48em;
  }
  .card {
    width: 360px;
    height: 438px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrapper {
    width: 17.5em;
  }
  .card {
    width: 280px;
    height: 405px;
  }
  .burger-menu {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 100%;
    width: 100%;
    height: 100vh;
    background-color: #394573;
  }
  .burger-menu_cross-icon {
    cursor: pointer;
    fill: #BEE7E8;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 82.5%;
    top: 5.28%;
  }
  .burger-menu_cross-icon:hover {
    fill: #FFFF;
  }
  .burger-menu_list {
    padding: 0;
    margin: 0;
    width: 124px;
    height: 241px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .burger-menu_list_item a {
    font-family: "Montserrat-Regular";
    font-size: 24px;
    line-height: 29px;
    color: #BEE7E8;
  }
  .burger-menu_list_item a:hover {
    color: #FFFF;
    text-decoration: underline;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFF;
  width: 100%;
  height: 9em;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.125em;
}

.header_content__burger {
  display: none;
}

.header_content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12.5em;
}

.header_content__logo_icon {
  width: 4em;
  height: 4em;
  fill: #726DA8;
}

.header_content__logo_icon:hover {
  fill: #A0D2DB;
}

.header_content__logo_name {
  font-family: "Montserrat-SemiBold";
  font-size: 1.75em;
  line-height: 2.125em;
}

.header_content__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36.75em;
  list-style-type: none;
  padding: 0;
  margin-left: -0.5em;
}

.header_content__menu_item a {
  font-family: "Montserrat-Medium";
  color: #333333;
  font-size: 1.4375em;
  line-height: 1.75em;
}

.header_content__menu_item a:hover {
  cursor: pointer;
  color: #726DA8;
  text-decoration: underline;
}

.header_content__social-nets {
  width: 11em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content__social-nets_instagram, .header_content__social-nets_vk, .header_content__social-nets_telegram {
  width: 2.5em;
  height: 2.5em;
  fill: #726DA8;
}

.header_content__social-nets_instagram:hover, .header_content__social-nets_vk:hover, .header_content__social-nets_telegram:hover {
  fill: #A0D2DB;
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
  .header_content__logo {
    width: 10em;
  }
  .header_content__logo_icon {
    width: 3em;
    height: 3em;
  }
  .header_content__logo_name {
    font-family: "Montserrat-SemiBold";
    font-size: 25px;
    line-height: 2.125em;
  }
  .header_content__menu {
    width: 24.75em;
    margin-left: 0;
  }
  .header_content__menu_item a {
    font-size: 1.125em;
  }
  .header_content__social-nets {
    width: 9em;
  }
  .header_content__social-nets_instagram, .header_content__social-nets_vk, .header_content__social-nets_telegram {
    width: 2em;
    height: 2em;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header {
    height: 4.4375em;
  }
  .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2em;
    height: 2.4375em;
  }
  .header_content__burger {
    cursor: pointer;
    display: block;
    fill: #726DA8;
    width: 2em;
    height: 1.375em;
  }
  .header_content__burger:hover {
    fill: #A0D2DB;
  }
  .header_content__logo {
    width: 120.56px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header_content__logo_icon {
    width: 38.4px;
    height: 38.56px;
    margin-top: 3px;
  }
  .header_content__logo_name {
    font-family: "Montserrat-SemiBold";
    font-size: 17px;
    line-height: 2.125em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header_content__menu {
    display: none;
  }
  .header_content__social-nets {
    display: none;
  }
}

.slider {
  height: 37.5em;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider_switches-mobile {
  display: none;
}

.slider_items {
  padding-top: 2em;
  position: relative;
  overflow: visible;
}

.slider_items .wrapper {
  position: relative;
}

.slider_items_circle {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  z-index: 1;
  position: absolute;
  width: 137.5em;
  height: 58.25em;
  left: -21.4375em;
  top: -20.75em;
  background: #394573;
  opacity: 1;
  border-radius: 50%;
}

.slider_items_circle-dog {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  z-index: 1;
  position: absolute;
  width: 137.5em;
  height: 58.25em;
  left: -21.4375em;
  top: -20.75em;
  background: url("./assets/images/dog_slider.jpg") no-repeat 122% 32%;
  opacity: 0;
  border-radius: 50%;
}

.slider_items_switches {
  position: absolute;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.slider_items_switches__left-arrow, .slider_items_switches__right-arrow {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #FFFF;
  -webkit-filter: drop-shadow(0em 0em 10em rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0em 0em 10em rgba(0, 0, 0, 0.3));
}

.slider_items_switches__left-arrow:hover, .slider_items_switches__right-arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider_items_switches__left-arrow_icon, .slider_items_switches__right-arrow_icon {
  width: 0.8125em;
  height: 1.4375em;
}

.slider_items_switches__left-arrow_icon:hover, .slider_items_switches__right-arrow_icon:hover {
  fill: #A0D2DB;
}

.slider_items_switches__left-arrow_icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider_items_content-first-slide {
  z-index: 5;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 82px;
}

.slider_items_content-first-slide__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider_items_content-first-slide__image-cat {
  padding-top: 1.75em;
  width: 25em;
  height: 30.92em;
}

.slider_items_content-first-slide__information {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21.8125em;
  width: 37em;
  margin-right: 8.875em;
  margin-top: -2em;
}

.slider_items_content-first-slide__information_title {
  font-family: "Montserrat-SemiBold";
  font-size: 3.125em;
  line-height: 61px;
  width: 83%;
  color: #BEE7E8;
  margin: 0;
}

.slider_items_content-first-slide__information_description {
  font-family: "Montserrat-Medium";
  font-size: 1.875em;
  line-height: 37px;
  color: #A0D2DB;
  margin: -0.4em 0 0 0;
}

.slider_items_content-first-slide__information_description_mobile {
  display: none;
}

.slider_items_content-first-slide__information_button {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#A0D2DB), to(#726DA8));
  background-image: linear-gradient(90deg, #A0D2DB 0%, #726DA8 100%);
  border-radius: 2.5em;
  border: none;
  outline: none;
  font-family: "Montserrat-Medium";
  font-size: 1.375em;
  line-height: 27px;
  color: #FFFF;
}

.slider_items_content-first-slide__information_button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#A0D2DB), to(#726DA8));
  background: linear-gradient(-90deg, #A0D2DB 0%, #726DA8 100%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider_items_content-second-slide {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  margin-top: 103px;
  position: absolute;
  right: -720px;
  z-index: 6;
}

.slider_items_content-second-slide_information {
  width: 606px;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider_items_content-second-slide_information_title {
  width: 606px;
  font-family: "Montserrat-SemiBold";
  font-size: 50px;
  line-height: 61px;
  color: #394573;
  margin: 0;
}

.slider_items_content-second-slide_information_description {
  font-family: "Montserrat-Medium";
  font-size: 30px;
  line-height: 37px;
  color: #394573;
  margin: 0;
}

.slider_items_content-second-slide_information_price {
  font-family: "Montserrat-SemiBold";
  font-size: 36px;
  line-height: 44px;
  color: #394573;
}

.slider_items_content-second-slide_information_price span {
  font-size: 42px;
  line-height: 51px;
}

.slider_items_content-second-slide_information_button {
  cursor: pointer;
  width: 300px;
  height: 60px;
  color: #FFFF;
  background: #394573;
  border-radius: 40px;
  font-family: "Montserrat-Medium";
  font-size: 22px;
  line-height: 27px;
  border: none;
  outline: none;
}

.slider_items_content-second-slide_information_button:hover {
  background: #726DA8;
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
  .slider {
    max-width: 1216px;
    height: 31.5em;
  }
  .slider_items_circle {
    left: -32.4375em;
    top: -427px;
  }
  .slider_items_circle-dog {
    top: -427px;
    left: -32.4375em;
    background: url("./assets/images/dog_slider.jpg") no-repeat 142% 32%;
  }
  .slider_items_content-first-slide {
    right: -19px;
  }
  .slider_items_content-first-slide__image-cat {
    padding-top: 0.75em;
    width: 294.34px;
    height: 364px;
  }
  .slider_items_content-first-slide__information {
    height: 17.8125em;
    width: 26em;
    margin-right: 4.875em;
    margin-top: 3em;
  }
  .slider_items_content-first-slide__information_title {
    font-size: 32px;
    line-height: 38px;
  }
  .slider_items_content-first-slide__information_description {
    font-size: 20px;
    line-height: 30px;
  }
  .slider_items_content-first-slide__information_button {
    width: 226px;
    height: 53px;
    font-size: 21px;
  }
  .slider_items_content-second-slide {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    margin-top: 74px;
    position: absolute;
    right: -800px;
    z-index: 6;
  }
  .slider_items_content-second-slide_information {
    width: 390px;
    height: 280px;
  }
  .slider_items_content-second-slide_information_title {
    font-size: 32px;
    line-height: 38px;
  }
  .slider_items_content-second-slide_information_description {
    font-size: 20px;
    line-height: 30px;
  }
  .slider_items_content-second-slide_information_price {
    font-size: 19px;
  }
  .slider_items_content-second-slide_information_price span {
    font-size: 30px;
  }
  .slider_items_content-second-slide_information_button {
    width: 226px;
    height: 53px;
    font-size: 21px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .slider {
    height: 464px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider_switches-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 2.5em;
  }
  .slider_switches-mobile_right, .slider_switches-mobile_left {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    outline: none;
  }
  .slider_switches-mobile_right:hover, .slider_switches-mobile_left:hover {
    background: #394573;
  }
  .slider_items {
    padding-top: 2em;
    width: 280px;
    height: 25em;
    position: relative;
    overflow: hidden;
  }
  .slider_items .wrapper {
    position: relative;
  }
  .slider_items_circle {
    display: none;
  }
  .slider_items_circle-dog {
    display: none;
  }
  .slider_items_switches {
    display: none;
  }
  .slider_items_content-first-slide {
    overflow: hidden;
    width: 100%;
    height: 25em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    background-color: #394573;
    border-radius: 24px;
    padding-top: 2em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider_items_content-first-slide__image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  .slider_items_content-first-slide__image-cat {
    position: absolute;
    width: 150px;
    height: 185.5px;
    left: 25px;
    top: -29px;
  }
  .slider_items_content-first-slide__information {
    height: 186px;
    width: 240px;
    margin-right: 0;
    margin-top: 0;
  }
  .slider_items_content-first-slide__information_title {
    font-size: 24px;
    line-height: 29px;
    width: 253px;
  }
  .slider_items_content-first-slide__information_description {
    display: none;
  }
  .slider_items_content-first-slide__information_description_mobile {
    display: block;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    line-height: 17px;
    margin: -0.4em 0 0 0;
    color: #A0D2DB;
  }
  .slider_items_content-first-slide__information_button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
  .slider_items_content-second-slide {
    overflow: hidden;
    width: 100%;
    height: 25em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -284px;
    position: absolute;
    background: url("./assets/images/dog-mobile_slider.jpg") no-repeat 0% 32%;
    border-radius: 24px;
    padding-top: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider_items_content-second-slide_information {
    width: 201px;
    height: 336px;
    padding: 32px 0 0 18px;
  }
  .slider_items_content-second-slide_information_title {
    width: 240px;
    font-size: 24px;
    line-height: 29px;
  }
  .slider_items_content-second-slide_information_description {
    font-size: 14px;
    line-height: 17px;
  }
  .slider_items_content-second-slide_information_price {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 95px;
  }
  .slider_items_content-second-slide_information_price span {
    font-size: 22px;
    line-height: 27px;
  }
  .slider_items_content-second-slide_information_button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}

.content {
  height: 39.375em;
  padding: 4.375em 0 4.5em 0;
}

.content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__card {
  position: relative;
  cursor: pointer;
}

.content__card-doctor {
  -webkit-transition: right 1s ease;
  transition: right 1s ease;
  position: absolute;
  right: 0;
  z-index: 7;
  border-radius: 40px;
  height: 100%;
  width: 100%;
  background: url("./assets/images/dog_consultation.jpg") no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2.5em;
}

.content__card-doctor__question {
  font-family: "Montserrat-SemiBold";
  width: 12.125em;
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 27px 0;
  padding-top: 291px;
}

.content__card-doctor__arrow {
  width: 14.375em;
  height: 1.0625em;
}

.content__card-info {
  width: 100%;
  height: 100%;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFF;
  padding: 49px 40px;
}

.content__card-info_title {
  font-family: "Montserrat-SemiBold";
  font-size: 32px;
  line-height: 39px;
  width: 383px;
  color: #394573;
  margin: 0 0 -30px 0;
}

.content__card-info_price {
  font-family: "Montserrat-SemiBold";
  font-size: 32px;
  line-height: 39px;
  color: #A0D2DB;
  margin-bottom: -31px;
}

.content__card-info_price span {
  font-size: 40px;
  line-height: 49px;
}

.content__card-info_button {
  cursor: pointer;
  width: 344px;
  height: 60px;
  background: #394573;
  color: #FFFF;
  font-family: "Montserrat-Medium";
  font-size: 22px;
  line-height: 27px;
  border-radius: 40px;
  border: none;
  outline: none;
}

.content__card-info_button:hover {
  background: #726DA8;
}

.content__card-info_list {
  height: 242px;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content__card-info_list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px;
  margin-bottom: 24px;
}

.content__card-info_list__item-icon {
  height: 56px;
  width: 56px;
  margin-right: 20px;
}

.content__card-info_list__item-text {
  width: 85%;
  font-family: "Montserrat-Regular";
  font-size: 22px;
  line-height: 27px;
  color: #333333;
}

.content__card-info_list__item-text br {
  display: none;
}

.content__card-blog {
  background: url("./assets/images/sleepy_cat.jpg") no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  color: #FFFF;
}

.content__card-blog_information {
  padding: 0 2.5em;
  border-radius: 0 0 40px 40px;
  height: 15.625em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#333333));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #333333 100%);
}

.content__card-blog_information__headline {
  font-family: "Montserrat-SemiBold";
  font-size: 32px;
  line-height: 39px;
  margin: 0 0 17px 0;
}

.content__card-blog_information__details {
  font-family: "Montserrat-Regular";
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.content__card-blog_footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 3em;
  background-color: #333333;
  border-radius: 0 0 40px 40px;
  padding-left: 1.75em;
  font-family: "Montserrat-SemiBold";
  font-size: 24px;
  line-height: 29px;
}

.content__card-blog_footer a {
  color: #FFFF;
  text-decoration: none;
}

.content__card-blog_footer a:hover {
  color: #BEE7E8;
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
  .content {
    height: 27.375em;
  }
  .content__card-doctor {
    background: url("./assets/images/dog_consultation.jpg") no-repeat bottom left;
    background-size: 445px 473px;
  }
  .content__card-doctor__question {
    width: 12.125em;
    font-size: 25px;
    line-height: 30px;
    padding-top: 107px;
  }
  .content__card-doctor__arrow {
    width: 14.375em;
    height: 1.0625em;
  }
  .content__card-info {
    width: 100%;
    height: 100%;
    right: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #FFFF;
    padding: 49px 30px;
  }
  .content__card-info_title {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    line-height: 25px;
    width: 383px;
    color: #394573;
    margin: 0 0 -5px 0;
  }
  .content__card-info_price {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    line-height: 39px;
    color: #A0D2DB;
    margin-bottom: -6px;
  }
  .content__card-info_price span {
    font-size: 30px;
    line-height: 49px;
  }
  .content__card-info_button {
    width: 261px;
    height: 50px;
    font-size: 18px;
    margin-top: -10px;
  }
  .content__card-info_list {
    height: 242px;
    width: 300px;
  }
  .content__card-info_list__item {
    height: 61px;
    margin-bottom: 10px;
  }
  .content__card-info_list__item-icon {
    height: 46px;
    width: 46px;
    margin-right: 10px;
  }
  .content__card-info_list__item-text {
    font-size: 16px;
    line-height: 25px;
  }
  .content__card-blog {
    background: url("./assets/images/sleepy_cat.jpg") no-repeat bottom left;
    background-size: 445px 473px;
  }
  .content__card-blog_information {
    height: 14.625em;
  }
  .content__card-blog_information__headline {
    font-size: 24px;
    line-height: 30px;
  }
  .content__card-blog_information__details {
    font-size: 19px;
    line-height: 26px;
  }
  .content__card-blog_footer {
    padding-left: 40 px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .content {
    height: 938px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 48px 0;
  }
  .content .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__card {
    margin-bottom: 32px;
    border-radius: 24px;
  }
  .content__card-doctor {
    display: none;
  }
  .content__card-info {
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0 40px 0;
  }
  .content__card-info_title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 240px;
    margin: 0 0 -23px 0;
  }
  .content__card-info_price {
    width: 240px;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: -17px;
  }
  .content__card-info_price span {
    font-size: 26px;
    line-height: 32px;
  }
  .content__card-info_button {
    width: 220px;
    height: 48px;
    font-size: 14px;
    line-height: 17px;
  }
  .content__card-info_list {
    height: 149px;
    width: 240px;
  }
  .content__card-info_list__item {
    height: 51px;
    margin-bottom: 16px;
  }
  .content__card-info_list__item-icon {
    height: 2em;
    width: 2em;
    margin-right: 8px;
  }
  .content__card-info_list__item-text {
    font-size: 14px;
    line-height: 17px;
  }
  .content__card-info_list__item-text br {
    display: block;
  }
  .content__card-blog {
    background: url("/assets/images/sleppy_cat-mobile.jpg") no-repeat center center;
    border-radius: 24px;
  }
  .content__card-blog_information {
    padding: 0px 20px;
    border-radius: 0 0 24px 24px;
    height: 163px;
    background: none;
  }
  .content__card-blog_information__headline {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px 0;
  }
  .content__card-blog_information__details {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
  .content__card-blog_footer {
    width: 100%;
    height: 2.5em;
    border-radius: 0 0 24px 24px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.footer {
  width: 100%;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_content__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4.125em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -1.4375em;
}

.footer_content__contacts_link {
  text-decoration: none;
  color: #726DA8;
  font-family: "Montserrat-Medium";
  font-size: 24px;
  line-height: 29px;
}

.footer_content__contacts_link:hover {
  color: #A0D2DB;
}

.footer_content__copy-rights {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  line-height: 24px;
  color: #394573;
}

.footer_content__copy-rights br {
  display: none;
}

@media screen and (max-width: 1216px) and (min-width: 768px) {
  .footer_content__contacts {
    height: 3.125em;
    margin-right: 0;
  }
  .footer_content__contacts_link {
    font-size: 19px;
    line-height: 25px;
  }
  .footer_content__copy-rights {
    font-size: 19px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer {
    height: 282px;
  }
  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: -27px;
  }
  .footer_content__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 63px;
    margin-right: 0;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .footer_content__contacts_link {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .footer_content__copy-rights {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  .footer_content__copy-rights br {
    display: block;
  }
}

.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 47, 47, 0.25);
}

.popup_form {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37em;
  height: 42.8125em;
  background: #FFFF;
  border-radius: 40px;
  padding: 48px 40px;
  margin: 0;
}

.popup_form_cross-icon {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 90.54%;
  width: 24px;
  height: 24px;
  fill: #394573;
}

.popup_form_cross-icon:hover {
  fill: #726DA8;
}

.popup_form_title {
  width: 100%;
  text-align: center;
  font-family: "Montserrat-SemiBold";
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #394573;
  margin: 0px 4px 32px 0;
}

.popup_form_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24.6875em;
  width: 100%;
  margin: 0 0 52px 0;
}

.popup_form_details_my-pet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.1875em;
  width: 100%;
  margin-bottom: 39px;
}

.popup_form_details_my-pet_text {
  font-family: "Montserrat-Regular";
  font-size: 22px;
  line-height: 32px;
  color: #394573;
}

.popup_form_details_my-pet_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_form_details_my-pet_buttons_choice {
  margin-right: 40px;
}

.popup_form_details_my-pet_buttons_choice_pet {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popup_form_details_my-pet_buttons_choice_pet + label {
  cursor: pointer;
}

.popup_form_details_my-pet_buttons_choice_pet:not(checked) {
  position: absolute;
  opacity: 0;
}

.popup_form_details_my-pet_buttons_choice_pet:not(checked) + label {
  position: relative;
  font-family: "Montserrat-Regular";
  color: #394573;
  font-size: 18px;
  line-height: 22px;
  padding: 0 0 0 36px;
}

.popup_form_details_my-pet_buttons_choice_pet:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #394573;
  border-radius: 50%;
  background: #FFFF;
}

.popup_form_details_my-pet_buttons_choice_pet:not(checked) + label:after {
  content: '';
  position: absolute;
  left: 9.2px;
  top: 9.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #394573;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.popup_form_details_my-pet_buttons_choice_pet:checked + label:after {
  opacity: 1;
}

.popup_form_details_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 18.5em;
  width: 100%;
}

.popup_form_details_inputs_item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  border: none;
  border-bottom: 1px solid #394573;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 22px;
  color: #394573;
  outline: none;
  margin-bottom: -11px;
  padding: 2px 0 0 0;
}

.popup_form_details_inputs_item::-webkit-input-placeholder {
  color: #394573;
}

.popup_form_details_inputs_item:-ms-input-placeholder {
  color: #394573;
}

.popup_form_details_inputs_item::-ms-input-placeholder {
  color: #394573;
}

.popup_form_details_inputs_item::placeholder {
  color: #394573;
}

.popup_form_button {
  cursor: pointer;
  width: 300px;
  height: 60px;
  margin-left: -23px;
  background: #394573;
  border-radius: 40px;
  color: #FFFF;
  font-family: "Montserrat-Medium";
  font-size: 22px;
  line-height: 27px;
  border-radius: 40px;
  border: none;
  outline: none;
}

.popup_form_button:hover {
  background: #726DA8;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .popup_form {
    width: 280px;
    height: 480px;
    padding: 40px 20px 0 20px;
    border-radius: 24px;
  }
  .popup_form_cross-icon {
    top: 3%;
    left: 85.54%;
    width: 24px;
    height: 24px;
  }
  .popup_form_title {
    font-size: 16px;
    line-height: 20px;
    margin: -2px 4px 25px 0;
  }
  .popup_form_details {
    height: 14.6875em;
    margin: 0 0 49px 0;
  }
  .popup_form_details_my-pet {
    height: 3.1875em;
    margin-bottom: 21px;
  }
  .popup_form_details_my-pet_text {
    font-size: 16px;
    line-height: 20px;
  }
  .popup_form_details_my-pet_buttons_choice {
    margin-right: 22px;
  }
  .popup_form_details_my-pet_buttons_choice_pet:not(checked) + label {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0 0 33px;
  }
  .popup_form_details_inputs {
    height: 184px;
    width: 100%;
  }
  .popup_form_details_inputs_item {
    height: 24px;
    border-bottom: 1px solid #394573;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: -16px;
  }
  .popup_form_button {
    width: 240px;
    height: 48px;
    margin-left: -3px;
  }
}
/*# sourceMappingURL=style.css.map */